//Colors
$color-prim: #555ec5;
$color-prim-light: #6f98d5;
$color-prim-dark: #3f28b4;

$color-sec-light: #ffb900;
$color-sec-dark: #ff7730;

$color-tertiary-light: #8be966;
$color-tertiary-dark: #53bd44;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT SIZES
$default-fs: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vert: 8rem; 
$gutter-vert-small: 6rem; 
$gutter-hor: 6rem; 